<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password</title>
</head>
<body>

    <ul>
        <li><strong>Token:</strong> <span style="color: blue;" id="token">{{ token }}</span> 
            <button onclick="copyToken()">Copy Token</button>
        </li>
    </ul>

    <script>
        function copyToken() {
            var tokenElement = document.getElementById('token');
            var tempInput = document.createElement('input');
            tempInput.value = tokenElement.innerText;
            document.body.appendChild(tempInput);
            tempInput.select();
            document.execCommand('copy');
            document.body.removeChild(tempInput);
            alert('Token copied to clipboard');
        }
    </script>

</body>
</html>
